@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./blocks-banner";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

// ==============================
// Layout
// ==============================

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
}

header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
}

nav {
  z-index: 105;
  top: 0;
}

// On desktop, push the content enough to
// fit the sidebar.
main {
  margin-left: 18rem;
}

#wpdocumentor-navigation-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);

  z-index: 101;

  display: none;
  opacity: 0;

  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  &.is-active {
    display: block;
    opacity: 1;
  }
}

#wpdocumentor-navigation-toggle {
  display: none;
}

.admin-bar nav    { top: 46px; }
.admin-bar header { top: 46px; }

@media screen and (min-width: 783px) {
  .admin-bar nav    { top: 32px; }
  .admin-bar header { top: 32px; }
}

@media screen and (max-width: 783px) {
  nav {
    left: -18rem !important;

    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transition-property: left;
  }

  #wpdocumentor-navigation-toggle {
    display: block;
  }

  nav.is-active {
    left: 0 !important;
  }

  main {
    margin-left: 0 !important;
  }
}

// ==============================
// Typography
// ==============================

h1 {
  font-size: 29px;
  font-weight: 500;

  line-height: 1.2;
  padding: .67em 0;
}

h2 {
  font-size: 24px;
  font-weight: 500;

  line-height: 32px;
  padding-bottom: 16px;
}

h3 {
  font-size: 20px;
  font-weight: 500;

  line-height: 24px;
  padding-bottom: 10px;
}

h4 {
  font-size: 16px;
  font-weight: 500;

  line-height: 24px;
  letter-spacing: 1px;
  padding-bottom: 4px;
}

h5 {
  margin-top: 0;

  font-size: 14px;
  line-height: 24px;

  padding-bottom: 0;
}

// ==============================
// Navigation
// ==============================

.navigation {
  .menu-item {
    @apply py-2;
    @apply px-6;

    @apply font-medium;
    @apply text-sm;

    a {
      @apply text-gray-800;

      &:hover {
        @apply text-gray-400;
      }
    }
  }

  .sub-menu {
    @apply py-2;
  }

  .sub-menu .menu-item {
    @apply font-normal;

    @apply pl-3;
    @apply pr-6;

    padding-top:    0.3rem;
    padding-bottom: 0.3rem;
  }

  .current-menu-item > a,
  .current-menu-item > a:hover {
    @apply text-blue-500;
  }
}

.navigation_footer {
  // flex flex-row justify-center
  // px-2 text-sm text-gray-600

  @apply flex;
  @apply flex-row;

  @apply justify-center;

  .menu-item {
    @apply px-2;
    @apply text-sm;
    @apply text-gray-600;
  }

  .menu-item:hover {
    @apply underline;
  }
}

// ==============================
// Content
// ==============================

.wysiwyg-content {
  position: relative;

  h1, h2, h3,
  h4, h5, h6 {
    margin-top: 40px;
  }

  p, li {
    color: #172b4d;
    font-size: 14px;
    line-height: 1.71429;
    font-weight: 400;
  }

  img {
    margin: 24px auto;
  }
}

h1:hover, h2:hover, h3:hover,
h4:hover, h5:hover, h6:hover {
  .anchor {}
  .anchor__icon {
    opacity: 1;
  }
}

.anchor {}
.anchor__icon {
  position: absolute;
  display: inline-block;
  left: -30px;
  margin-top: 6px;

  opacity: 0;

  svg {
    width: 22px;
    height: 22px;

    color: #006aff;
  }
}